*{
    box-sizing: border-box;
}
 .text-1{
    font-size: 30px ;
    font-weight: 600;
    font-family: "Montserrat", system-ui;
 }
 .text-2{
    font-weight: 600;
    font-size: 20px;
    font-family: "Montserrat", system-ui;
 }
 .text-3{
    font-size: 25px;
    font-weight: 400;
    font-family: "Montserrat", system-ui;
 }
 .button-1{
    width: 100px;
    height: 30px;
    background-color: darkgreen;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
 }

 .button-2{
    width: 100px;
    height: 30px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 200;
 }