*{
    box-sizing: border-box;
}

.block{
    display: flex;
    flex-wrap: wrap;
    padding: 250px;

}

.img-1{
    display: block;
    background-image: 200;
    margin-top: 150px;
    
}

.img-2{
margin-top: 50px;
margin-left: 7px;
}
.img-3{
   
    margin-left: 7px;
    }